*{
  margin: 0;
  padding: 0;  
}
  body
  {
      background-image: url(/img/informacion.jpg);
      background-size: cover;
      background-repeat: no-repeat;
  color:black;
  }
#contenedor
{
   
    width: 900px;
    height: 3000;
    background-color: #7ad9f9;
    margin: 10px;
    padding: 20px;
}
#pie
{
 height: 45px;
 background-color:#a4c1eb;
 margin: 1.5em;
 text-align: center;
 padding: 5px;
 border-radius: 5px;

}
#pie h4
{
    padding: 20px;
    font-size: 20px;
    color: rgb(13, 13, 15);
}
